@layout('main')

@section('content')
  <div class="text-center">
    <h1 class="my-5">Home</h1>
    <p class="text-muted">This is a little AdonisJs(Node.js) app</p>
    <br>
    <p>You can Add, Update and Delete posts</p>
  </div>
@endsection
